
.App {
  
}

html {
  background-image: url("img/grassTile.jpg");
  background-repeat: repeat;
  background-size: 300px 300px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.App-header {
  background-color: #d9ffcd;
  text-align: center;
}

.TitleBox {
  background-color: #d9ffcd;
  font-size: calc(10px + 2vmin);
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #d9ffcd;
}
tr {
  border: 1px solid #CCCCCC;
}

th:nth-child(even) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
th:nth-child(odd) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

th {
  text-align: left;
  padding: 5px;
}

.App-Body {
  padding: 15px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
}

.critterSection {
  width: 100%; 
  max-width: 400px;
  margin: 10px;
}
.critterSection > h3 {
  text-align: center;
}


.critterSection > h3 {
  text-align: center;
}

.critterTable {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  width: 100%;
  background: white;
}

.suggestionSection{
  height: 200px;
  width: 100%;
  max-width: 400px;
  margin: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  width: 100%;
  background: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
