html {
  background-color: #EFEEEE;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.Selector {
  width: 100%;
  margin-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.neuoMorphismOut {
  background-color: #EFEEEE;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.20);
  box-shadow: -6px -6px 20px rgba(255,255,255,0.83), 6px 6px 10px rgba(217,210,200,0.51);
}
.neuoMorphismIn, .neuoMorphismOut th, .neuoMorphismOut td {
  border-radius: 12px;
  background: #EFEEEE;
  border: 1px solid rgba(255,255,255,0.20);
  box-shadow: inset -6px -6px 13px rgba(255,255,255,0.83), inset 6px 6px 8px rgba(217,210,200,0.51);
}

.App-header {
  background-color: #EFEEEE;
  text-align: center;
  display: flex;
  justify-content: center;
}

.TitleBox {
  font-size: calc(10px + 2vmin);
  text-align: center !important;
  padding: 15px;
  margin: 20px;
  width: 284px;
}

.App-Body {
  padding: 15px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
}

.critterSection {
  width: 100%; 
  max-width: 400px;
  margin: 10px;
}
.critterSection > h3, .suggestionSection > h3 {
  text-align: center;
}


.critterSection > h3 {
  text-align: center;
}

.critterTable {
  width: 100%;
}

.suggestionSection{
  height: 200px;
  width: 100%;
  max-width: 400px !important;
  margin: 10px;
  width: 100%;
}

.critterTable td, .critterTable th {
  padding: 5px;
}

th, td {
  text-align: left;
  padding: 10px !important;
}

h3, th, td, tr{
  text-align: left;
  padding: 5px;
  background-color: #565656 !important;
  color: transparent !important;
  text-shadow: 0px 2px 3px rgba(217,210,200,0.51) !important;
  -webkit-background-clip: text !important;
     -moz-background-clip: text !important;
          background-clip: text !important;
}
