$light-bkg: #f1f1f1;
$light-bkg-gradient: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(241,241,241,1) 100%);
$light-bkg-txt: #e4e4e488;
$dark-bkg: #454545;
$dark-bkg-txt: #45454588;
$bkg: $light-bkg;
$bkg-txt: $light-bkg-txt;

$sunset: linear-gradient(0deg, rgba(246,247,247,1) 0%, rgba(155,202,250,1) 36%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 47%, rgba(244,216,159,1) 57%, rgba(237,180,131,1) 68%, rgba(218,147,138,1) 78%, rgba(199,131,162,1) 88%, rgba(124,86,163,1) 100%);
$sunset-half: linear-gradient(0deg, rgba(246,247,247,.25) 0%, rgba(155,202,250,.25) 36%, rgba(255,255,255,.25) 42%, rgba(255,255,255,.25) 47%, rgba(244,216,159,.25) 57%, rgba(237,180,131,.25) 68%, rgba(218,147,138,.25) 78%, rgba(199,131,162,.25) 88%, rgba(124,86,163,.25) 100%);

$metal: #d8d8d8;

$neuBorder: #f3f3f30c;
$lightNeuOutShadow: -6px -6px 20px #ffffff55, 6px 6px 10px #dedede55;
$lightNeuInShadow: inset -6px -6px 13px #ffffff, inset 6px 6px 8px #dedede;
$darkNeuOutShadow: -6px -6px 20px #6e6e6e, 6px 6px 10px #1c1c1c;
$darkNeuInShadow: inset -6px -6px 13px #6e6e6e, inset 6px 6px 8px #1c1c1c;
$neuInShadow: $lightNeuInShadow;
$neuOutShadow: $lightNeuOutShadow;

.gradient-box {
  position: relative;
  box-sizing: border-box;

  $border: 5px;
  color: #FFF;
  background: #000;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 1em;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    //background: $sunset;
    background: linear-gradient(80deg, $metal 0%, #ffffff 50%, $metal 100%)
  }
}

html {
  background: $sunset-half;
  height: 100%;
  background-attachment: fixed;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.Selector {
  width: 100%;
  margin-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.neuMorphismOut {
  background-color: $bkg;
  border-radius: 12px;
  // border: 1px solid $neuBorder;
  box-shadow: $neuOutShadow
}

// .neuMorphismOut.TitleBox:hover {
//   border-radius: 12px;
//   background: $bkg;
//   border: 1px solid $neuBorder;
//   box-shadow: $neuInShadow
// }

.neuMorphismIn, .neuMorphismOut th, .neuMorphismOut td {
  border-radius: 12px;
  background: $bkg;
  // border: 1px solid $neuBorder;
  box-shadow: $neuInShadow
}

// .neuMorphismIn:hover, .neuMorphismOut th:hover, .neuMorphismOut td:hover {
//   background-color: $bkg;
//   border-radius: 12px;
//   border: 1px solid $neuBorder;
//   box-shadow: $neuOutShadow
// }

.App-header {
  text-align: center;
  display: flex;
  justify-content: center;
}

.TitleBox {
  font-size: calc(10px + 2vmin);
  text-align: center !important;
  padding: 15px;
  margin: 20px;
}

.App-Body {
  padding: 0px 15px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
}

.critterSection {
  display: flex;
  flex-direction: column;
  max-width: 334px; 
  margin: 10px;
}
.critterSection > h3, .suggestionSection > h3 {
  text-align: center;
}
.critterImageContainer {
  justify-content: center;
  align-items: center;
  margin: 20px 20px 0px;
  flex-direction: column;
  display: flex;
  padding: 20px;
}


.critterSection > h3 {
  text-align: center;
  margin-top: 0px
}

.citterContainer {
  display:flex;
  flex-direction: column;
  max-width: 334px;
}

.critterTable {
  padding: 20px;
  width: 100%;
}
.critterTable th {
  width: 100px;
}

.suggestionSection{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.critterTable td, .critterTable th {
  padding: 5px;
}

th, td {
  text-align: left;
  padding: 10px !important;
}

h3, th, td, tr{
  text-align: left;
  padding: 5px;
  background-color: #000000 !important;
  color: transparent !important;
  text-shadow: 0px 2px 3px $bkg-txt !important;
  -webkit-background-clip: text !important;
     -moz-background-clip: text !important;
          background-clip: text !important;
}
